@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
}

.career_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 40px;
}
.career-option {
  padding: 80px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.career-option a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.finance  {
  background-image: url("/images/Industry/FinanceFull.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.informationTech {
  background-image: url("/images/Industry/ITFull.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.healthcare {
  background-image: url("/images/Industry/HealthcareFull.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.education {
  background-image: url("/images/Industry/EducationFull.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.marketing {
  background-image: url("/images/Industry/MarketingFull.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.engineering {
  background-image: url("/images/Industry/EngineeringFull.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  padding-top: 30px;
  color: #000;
  font-weight: 500;
  font-size: 1.75rem;
}
