.title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  padding-top: 30px;
  color: #000;
  font-weight: 500;
  font-size: 1.75rem;
}

.card-image .job-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0%;
  border: 4px solid #4070f4;
}
