*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* body {
    background-color: #f0f0f0;
} */
.heading {
    margin-top: 100px;
    display: flex;
    justify-content: initial;
    flex-wrap: wrap;
    margin-block-end: 1em;
    margin-inline-start: 180px;
    margin-inline-end: 180px;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.card {
    width: 325px;
    /* background-color: #f0f0f0; */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 34px rgb(0,0,0,0.2);
    margin: 40px;
}
.card img {
    width: 100%;
    height: auto;
}
.card-content {
    padding: 16px;
}
.card-content p {
    color: #666;
    font-size: 15px;
    line-height:1.5;
}
.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    /* background-color: #333; */
    background-image: linear-gradient( 135deg, #788bff     10%, #4657c3 100%);
    text-decoration: none;
    border-radius: 6px;
    margin-top: 16px;
    color: #f0f0f0;
}
.btn:hover {
    background-image: linear-gradient( 135deg, #7e8bdd     10%, #535ea3 100%);

}